<div class="sign-in__wrapper">
  <div class="sign-success" #signUpNotification>
    <div class="sign-success__text">
      <span><fa-icon [icon]="checkIcon" class="check-icon"></fa-icon></span>
      User signed up successful, redirecting to login page..
    </div>
  </div>
  <div class="sign-in__box">
    <div class="sign-in__title">Sign up</div>
    <div class="sign-in__text">
      We value your privacy here, stay secure with our chat app.
    </div>
    <div class="sign-buttons">
      <div class="sign-fb" (click)="signInWithFacebook()">
        <fa-icon [icon]="fbIcon" class="fbIcon"></fa-icon>
        <div class="sign-fb__text">Sign up with Facebook</div>
      </div>
      <div class="sign-google google-text" (click)="signInWithGoogle()">
        <fa-icon [icon]="googleIcon" class="fbIcon"></fa-icon>
        <div class="sign-google__text">Sign up with Google</div>
      </div>
    </div>
    <div class="divider">
      <div class="divider-line"></div>
      <div class="divider-text">OR</div>
    </div>
    <div class="form-wrapper">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="user-pic__upload" #pictureUpload>
          <label for="picture" class="pic-label"></label>
          <input
            type="file"
            id="picture"
            hidden
            accept="image/jpeg, image/png, image/webp, image/jpg"
            (change)="onSelectImg($event)"
          />
        </div>
        <div class="user-picture" #picture>
          <img src="" alt="" class="user-img" #picSrc />
          <div class="reset-btn" (click)="onReset()">&#215;</div>
        </div>
        <div class="user-data">
          <div class="each-input">
            <label>
              <input
                type="text"
                formControlName="name"
                placeholder="Enter Your Name"
                class="input-field"
              />
            </label>
          </div>
          <div class="each-input">
            <label>
              <input
                type="text"
                formControlName="email"
                placeholder="Enter Your Email"
                class="input-field"
                (focus)="onFocus()"
              />
            </label>
            <div class="warning-wrapper" *ngIf="emailExist">
              <fa-icon
                [icon]="infoIcon"
                class="info-icon"
                (click)="clickIcon()"
              ></fa-icon>
              <div class="warning-message__wrapper" #emailWarning>
                <div class="angle-block"></div>
                <div class="warning-message">{{ warningMessage }}</div>
              </div>
            </div>
          </div>
          <div class="each-input">
            <label>
              <input
                type="password"
                formControlName="password"
                placeholder="Enter Your Password"
                class="input-field"
                (focus)="focusPassword()"
                #passwordField
              />
            </label>
            <div class="show-password">
              <fa-icon
                [icon]="eyeIcon"
                (click)="onShowPassword(passwordField)"
              ></fa-icon>
            </div>
            <div
              class="warning-wrapper"
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
            >
              <fa-icon
                [icon]="infoIcon"
                class="info-icon"
                (click)="clickPasswordWarning()"
              ></fa-icon>
              <div class="warning-password__wrapper" #passwordWarning>
                <div class="angle-block"></div>
                <div class="warning-message">
                  Password should be at least 8 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="each-input">
            <label>
              <input
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
                class="input-field"
              />
            </label>
            <p
              class="password-warning__msg"
              *ngIf="
                form.get('confirmPassword')?.invalid &&
                form.get('confirmPassword')?.touched
              "
            >
              Password does not match.
            </p>
          </div>
          <div class="submit-btn__wrapper">
            <button class="submit-btn" type="submit" [disabled]="!form.valid">
              sign up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
