.log-in__wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f7f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signUp-wrapper {
  display: flex;
  align-items: center;
}
.signUp-text {
  font-size: 15px;
  color: #495057;
}
.signUp-link {
  font-size: 15px;
  color: #7269ef;
  margin-left: 5px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
.log-in__box {
  width: 460px;
  padding: 40px;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 30px;
}
.logIn-heading {
  margin-bottom: 20px;
}
.heading-1 {
  font-weight: 600;
  font-size: 20px;
  color: #495057;
  text-align: center;
  margin-bottom: 8px;
}
.heading-2 {
  font-size: 15px;
  color: #7a7f9a;
  margin-bottom: 24px;
}
.logIn-email,
.logIn-password {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
.logIn-password > label,
.logIn-email > label {
  font-size: 15px;
  color: #495057;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 8px;
}
.each-input {
  position: relative;
  border-radius: 0.4rem;
  height: 43px;
  padding: 8px 16px 8px 60px;
  color: #646464;
  border: 1px solid #e6ebf5;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  width: 100%;
  background-color: rgba(230, 235, 245, 0.25) !important;
}
.input-icon {
  width: 48px;
  height: 43px;
  padding: 8px 16px;
  position: absolute;
  top: 29px;
  left: 0;
  border-right: 1px solid #e6ebf5;
  z-index: 2;
  color: #495057;
}
.password-show__icon {
  background-image: url("../../../assets/show-password.svg");
  height: 18px;
  width: 18px;
  position: absolute;
  top: 40px;
  right: 10px;
  filter: invert(66%) sepia(73%) saturate(1%) hue-rotate(339deg) brightness(90%)
    contrast(87%);
}
.sign-btn {
  width: 100%;
  height: 40px;
  background-color: #7269ef;
  border: 1px solid #7269ef;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  padding: 0.47rem 0.75rem;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
  margin-top: 25px;
  transition: all 200ms linear;
  box-shadow: 2px 2px 10px 2px rgba(91, 91, 91, 0.1);
}
.sign-btn:hover {
  background-color: #6159cb;
}
.sign-btn:focus {
  background-color: #6159cb;
  outline: none;
}
.sign-btn:disabled {
  background-color: #7269ef;
  cursor: not-allowed;
}
.warning-msg {
  font-size: 13px;
  color: #ef476f;
  margin: 6px 0 0 2px;
}
input.ng-invalid.ng-touched {
  border-color: #ef476f;
  box-shadow: 0 0 0 0.15rem rgba(239, 71, 111, 0.25);
}
.wrong-input {
  font-size: 14px;
  padding: 10px;
  background-color: #ffe4e2;
  border: 1px solid #ce3e44;
  box-shadow: 0 0 5px rgba(206, 62, 68, 0.5);
  color: red;
  width: 300px;
  text-align: center;
  border-radius: 6px;
  margin: 0 auto 15px;
}
.progress-spinner {
  margin: 0 auto;
}
::ng-deep .mat-progress-spinner circle {
  stroke: white;
}
