.total-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
.component-wrapper {
  width: 30%;
  flex-shrink: 0;
  /*display: inline-block;*/
}
.header-wrapper {
  width: 100%;
  border-bottom: 1px solid #e5e9f2;
  border-right: 1px solid #e5e9f2;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.heading-text {
  color: #495057;
  font-weight: 600;
  font-size: 18px;
  margin-left: 14px;
}
.icon-groups {
  display: flex;
}
.notification,
.user-request,
.options {
  margin: 0 6px;
  position: relative;
}
.option-dropDown {
  position: absolute;
  top: 30px;
  right: -4px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 8px 0;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms linear;
}
.show-option__dropdown {
  visibility: visible;
  opacity: 1;
}
.option-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}
.option-list__item {
  padding: 8px 24px;
  font-size: 14px;
  line-height: 20px;
  color: #495057;
  cursor: pointer;
}
.option-list__item:hover {
  color: #3d4349;
  background-color: #f8f9fa;
}
.icons {
  padding: 0 6px;
  color: #adb5bd;
  cursor: pointer;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search-box > label {
  width: calc(100% - 90px);
}
.search-input {
  width: 100%;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: 0 !important;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  height: 35px;
  color: black;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 0 !important;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
}
.hw-20 {
  width: 20px;
  height: 20px;
  color: #adb5bd;
}
.chats-wrapper {
  border-right: 1px solid #e5e9f2;
  height: calc(100% - 111px);
  overflow: auto;
  scrollbar-width: none;
}
.chats-wrapper::-webkit-scrollbar {
  display: none;
}
.chats-container,
.friends-container {
  /*padding: 10px;*/
}
.empty-chats__wrapper {
  height: calc(100% - 20px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-chats {
  text-align: center;
}
.empty-chats__heading {
  font-size: 15px;
  font-weight: 500;
  color: #495057;
  margin-bottom: 6px;
}
.empty-chats__text {
  font-size: 13px;
  color: #adb5bd;
}
.empty-chats__img {
  height: 140px;
  width: 140px;
  margin-bottom: 6px;
}
.empty-chats__btn {
  font-size: 13px;
  font-weight: 500;
  color: white;
  padding: 6px 10px;
  background-color: #665dfe;
  width: max-content;
  margin: 14px auto 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 10px 1px rgba(161, 158, 158, 0.3);
}
.inner-padding {
  padding: 10px;
}
.single-chat__box {
  display: flex;
  padding: 16px;
  /*justify-content: space-between;*/
  border: 1px solid #e5e9f2;
  border-radius: 4px;
  margin-bottom: 6px;
  cursor: pointer;
}
.single-chat__box:focus {
  outline: none;
}
.single-chat__box-active {
  background-color: #665dfe;
  border: 1px solid #665dfe;
  color: white;
}
.chat-texts {
  /*width: 80%;*/
  padding-left: 14px;
  width: calc(100% - 50px);
}
.chat-text__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-img {
  height: 48px;
  width: 48px;
}
.chat-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.chat-user__name {
  font-size: 0.875rem;
  color: #495057;
  font-weight: 500;
  line-height: 1.2;
}
.chat-user__name-active,
.chat-user__time-active,
.chat-text__msg-active {
  color: white !important;
}
.chat-user__time {
  font-size: 14px;
  color: #adb5bd;
  flex-shrink: 0;
}
.chat-text__msg {
  font-size: 14px;
  color: black;
  padding-top: 6px;
}
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 2;
  transition: visibility 0ms linear;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.search-popup {
  width: 50%;
  max-width: 650px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  visibility: hidden;
  transform: translateY(-25px);
  opacity: 0;
  transition: all 300ms ease-out;
}
.show-search__popup {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.search-header__wrapper {
  position: relative;
}
.search-header {
  font-size: 18px;
  font-weight: 600;
  color: #495057;
  padding: 16px;
  border-bottom: 1px solid #e5e9f2;
}
.search-popup__box {
  margin: 12px 0;
}
.search-result {
  width: 100%;
  height: 450px;
  background-color: white;
  border-top: 1px solid #e5e9f2;
  overflow: auto;
  scrollbar-width: none;
  /*position: relative;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.search-result::-webkit-scrollbar {
  display: none;
}
.clear-btn__wrapper {
  width: 100%;
  border-top: 1px solid #e5e9f2;
}
.clear-btn {
  /*position: fixed;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  text-align: center;
  width: max-content;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  color: #ff337c;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 0 1px 0 #fff;
  color: #495057;
  cursor: pointer;
}
.no-result {
  font-size: 14px;
  color: #495057;
  text-align: center;
  padding-top: 180px;
}
.each-result {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e5e9f2;
}
.name-img__wrapper {
  display: flex;
  align-items: center;
}
.result-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.result-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.result-name {
  font-size: 14px;
  font-weight: 500;
  color: #495057;
  margin-left: 20px;
}
.user-icon {
  font-size: 18px;
  color: #adb5bd;
  margin-right: 6px;
}
.notification-message__wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: #ffe4e2;
  border: 1px solid #ce3e44;
  box-shadow: 0 0 5px rgba(206, 62, 68, 0.5);
  border-radius: 6px;
  display: flex;
  align-items: center;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-out;
  z-index: 50;
}
.show-notification {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.success-notification {
  background-color: #d0f8d0;
  border: 1px solid #47ff47;
  box-shadow: 0 0 5px rgb(20, 81, 0);
}
.notification-message__wrapper > fa-icon {
  font-size: 18px;
  color: #1f2024;
}
.notification-message {
  margin-left: 8px;
  font-size: 14px;
  color: #1f2024;
}
.notification-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  line-height: 16px;
  color: white;
  font-weight: 700;
  font-size: 8px;
}
.user-name {
  color: #665dfe;
  text-transform: capitalize;
}
.updated-each__result {
  flex-direction: column;
  align-items: flex-start;
}
.action-buttons {
  width: 191px;
  display: flex;
  flex-wrap: nowrap;
}
.each-action__button {
  padding: 7px 20px;
  color: white;
  background-color: #665dfe;
  border: 1px solid #665dfe;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 4px;
  margin: 0 6px;
  cursor: pointer;
  transition: all 200ms linear;
}
.each-action__button:hover {
  background-color: #4436ff;
  border-color: #4436ff;
}
.danger-button {
  color: #ff337c;
  border-color: #ff337c;
  background-color: white;
}
.danger-button:hover {
  background-color: #ff337c;
  border-color: #ff337c;
  color: white;
}
::ng-deep router-outlet + * {
  /*width: 70%;*/
  /*display: inline-block;*/
}
.correct-icon {
  font-size: 20px;
  color: #25d366;
  margin-right: 10px;
}
.empty-space__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info__wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info__name {
  font-size: 1.09375rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  color: #495057;
}
.user-info__img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}
.user-info__img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-info__message {
  color: #adb5bd;
  font-size: 0.875rem;
}
.single-chat__loading {
  padding: 16px;
  border: 1px solid #e5e9f2;
  border-radius: 4px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
.chat-loading__img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #e2e2e2;
}
.chat-loading__texts {
  margin-left: 14px;
  width: calc(100% - 48px - 14px);
}
.chat-loading-text2 {
  width: 100%;
  height: 16px;
  background-color: #e2e2e2;
}
.chat-loading-text1 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-loading__name {
  height: 16px;
  width: 60%;
  background-color: #e2e2e2;
}
.chat-loading__time {
  height: 16px;
  width: 30%;
  background-color: #e2e2e2;
}
.loading {
  position: relative;
}
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 1s infinite;
}
@keyframes loading {
  100% {
    left: calc(100% - 20px);
  }
}
