<div class="total-wrapper">
  <div class="component-wrapper">
    <div class="header-wrapper">
      <div class="heading">
        <div class="heading-text">{{ headingText }}</div>
        <div class="icon-groups">
          <div class="user-request" (click)="showFriendRequests()">
            <fa-icon [icon]="userInfoIcon" class="icons"></fa-icon>
            <div class="notification-counter" *ngIf="pendingRequest.length > 0">
              {{ pendingRequest.length }}
            </div>
          </div>
          <div class="notification" (click)="openNotificationPanel()">
            <fa-icon [icon]="bellIcon" class="icons"></fa-icon>
            <div class="notification-counter" *ngIf="notifications.length > 0">
              {{ notifications.length }}
            </div>
          </div>
          <div class="options">
            <fa-icon
              [icon]="optionIcon"
              class="icons"
              (click)="clickDropDown()"
            ></fa-icon>
            <div class="option-dropDown" #dropDown>
              <ul class="option-list">
                <li class="option-list__item" (click)="clickAddUser()">
                  Add User
                </li>
                <li class="option-list__item">Create Group</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="search-box">
        <label for="search">
          <input
            type="text"
            id="search"
            class="search-input"
            placeholder="Search Users ..."
            [(ngModel)]="searchArrayText"
          />
        </label>
        <div class="search-btn">
          <svg
            class="hw-20"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="chats-wrapper" #chatsWrapper>
      <div class="inner-padding">
        <div class="chats-loading__container" *ngIf="showLoadingChats">
          <div
            class="single-chat__loading"
            *ngFor="
              let counter of [].constructor(loadingContainerNumber).fill(1)
            "
          >
            <div class="chat-loading__img loading"></div>
            <div class="chat-loading__texts">
              <div class="chat-loading-text1">
                <div class="chat-loading__name loading"></div>
                <div class="chat-loading__time loading"></div>
              </div>
              <div class="chat-loading-text2 loading"></div>
            </div>
          </div>
        </div>
        <div class="chats-container" *ngIf="chatConnections">
          <div
            class="single-chat__box"
            *ngFor="
              let eachChatConnection of chatConnections
                | searchArray: searchArrayText
            "
            routerLink="chat"
            [queryParams]="{ chatId: eachChatConnection._id }"
            routerLinkActive="single-chat__box-active"
            #linkActive="routerLinkActive"
          >
            <div class="chat-img">
              <img [src]="eachChatConnection.pictureUrl" alt="" />
            </div>
            <div class="chat-texts">
              <div class="chat-text__header">
                <div
                  class="chat-user__name"
                  [class.chat-user__name-active]="linkActive.isActive"
                >
                  {{ eachChatConnection.name | titlecase }}
                </div>
                <div
                  class="chat-user__time"
                  [class.chat-user__time-active]="linkActive.isActive"
                >
                  {{ eachChatConnection.time | date: "shortTime" }}
                </div>
              </div>
              <div
                class="chat-text__msg"
                [class.chat-text__msg-active]="linkActive.isActive"
              >
                {{ eachChatConnection.message | shortText: 40 }}
              </div>
            </div>
          </div>
        </div>
        <div class="friends-container" *ngIf="friends">
          <div
            class="single-chat__box"
            *ngFor="let eachFriend of friends"
            routerLink="friend"
            routerLinkActive="single-chat__box-active"
            #linkActive="routerLinkActive"
            [queryParams]="{ friendId: eachFriend.userId._id }"
          >
            <div class="chat-img">
              <img [src]="eachFriend.userId.pictureUrl" alt="" />
            </div>
            <div class="chat-texts">
              <div class="chat-text__header">
                <div
                  class="chat-user__name"
                  [class.chat-user__name-active]="linkActive.isActive"
                >
                  {{ eachFriend.userId.name | titlecase }}
                </div>
              </div>
              <div class="chat-text__msg" style="color: #adb5bd">
                {{ eachFriend.userId.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrapper" #popupWrapper>
    <div class="backdrop"></div>
    <div class="search-popup" #searchWrapper>
      <div class="search-header__wrapper">
        <div class="search-header">Search User</div>
        <div class="close-btn" (click)="closeAddUser()">&#xD7;</div>
      </div>
      <div class="search-box search-popup__box">
        <label for="searchPop">
          <input
            type="text"
            id="searchPop"
            class="search-input"
            placeholder="Search Users ..."
            [(ngModel)]="popSearchText"
            (keyup)="onSearch()"
          />
        </label>
        <div class="search-btn">
          <svg
            class="hw-20"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="search-result">
        <div class="no-result" *ngIf="searchedUsers.length === 0">
          Can't find any user, try different name..
        </div>
        <div class="each-result" *ngFor="let user of searchedUsers">
          <div class="name-img__wrapper">
            <div class="result-img">
              <img [src]="user.pictureUrl" alt="" />
            </div>
            <div class="result-name">{{ user.name }}</div>
          </div>
          <div class="friend-request">
            <fa-icon
              [icon]="userIcon"
              class="user-icon"
              (click)="sendRequest(user._id)"
              *ngIf="!user.alreadyFriend"
            ></fa-icon>
            <fa-icon
              [icon]="correctIcon"
              class="correct-icon"
              *ngIf="user.alreadyFriend"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrapper" #friendRequestWrapper>
    <div class="backdrop"></div>
    <div class="search-popup" #friendRequestPanel>
      <div class="search-header__wrapper">
        <div class="search-header">Friend Requests</div>
        <div class="close-btn" (click)="closeFriendRequests()">&#xD7;</div>
      </div>
      <div class="search-result">
        <div class="no-result" *ngIf="pendingRequest.length === 0">
          There is no new friend requests.
        </div>
        <div *ngIf="pendingRequest.length > 0">
          <div class="each-result" *ngFor="let eachRequest of pendingRequest">
            <div class="name-img__wrapper">
              <div class="result-img">
                <img [src]="eachRequest.userId.pictureUrl" alt="" />
              </div>
              <div class="result-name">
                <span class="user-name">{{ eachRequest.userId.name }}</span>
                send you a friend request.
              </div>
            </div>
            <div class="action-buttons">
              <button
                class="each-action__button danger-button"
                (click)="clickReject(eachRequest.userId._id)"
              >
                Reject
              </button>
              <button
                class="each-action__button"
                (click)="clickAccept(eachRequest.userId._id)"
              >
                Accept
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-wrapper" #notificationWrapper>
    <div class="backdrop"></div>
    <div class="search-popup" #notificationPanel>
      <div class="search-header__wrapper">
        <div class="search-header">Notifications</div>
        <div class="close-btn" (click)="closeNotificationPanel()">&#xD7;</div>
      </div>
      <div class="search-result">
        <div class="no-result" *ngIf="notifications.length === 0">
          There is no new notifications.
        </div>
        <div *ngIf="notifications.length > 0">
          <div
            class="each-result"
            *ngFor="let eachNotification of notifications"
          >
            <div class="name-img__wrapper">
              <div class="result-img">
                <img [src]="eachNotification.imageUrl" alt="" />
              </div>
              <div class="result-name">
                {{ eachNotification.message }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear-btn__wrapper" *ngIf="notifications.length > 0">
        <div class="clear-btn" (click)="clearNotifications()">Clear all</div>
      </div>
    </div>
  </div>
  <div class="notification-message__wrapper" #notification>
    <fa-icon [icon]="crossIcon"></fa-icon>
    <div class="notification-message">Friend request already sent</div>
  </div>
  <div
    class="notification-message__wrapper success-notification"
    #successNotification
  >
    <fa-icon [icon]="rightIcon"></fa-icon>
    <div class="notification-message">Successfully sent friend request</div>
  </div>
  <div class="empty-space__wrapper" *ngIf="showEmptySpace">
    <div class="user-info__wrapper" *ngIf="userDetails">
      <div class="user-info__img">
        <img [src]="userDetails.pictureUrl" alt="" />
      </div>
      <div class="user-info__name">Welcome, {{ userDetails.name }}!</div>
      <div class="user-info__message">
        {{
          params === "friends"
            ? "Please select a friend to see details."
            : "Please select a chat to start conversation."
        }}
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
